<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.project.mapper.BoardMapper">
    <select id = "getList" resultType="BoardVO">
        select * from tbl_board where bno > 0 order by bno desc
    </select>

    <select id = "getPage" resultType="BoardVO">
        select * from tbl_board where bno > 0 order by bno desc
        limit #{skip}, #{amount}
    </select>

    <insert id = "insert" >
        <selectKey order="AFTER" keyProperty="bno" resultType="long">
            select last_insert_id()
        </selectKey>
        insert into tbl_board (title, content, writer)
        values (#{title}, #{content}, #{writer})
    </insert>

    <select id = "select" parameterType="long" resultType="BoardVO">
        select * from tbl_board where bno = #{bno}
    </select>

    <update id = "update" parameterType="BoardVO">
        update tbl_board set
        title = #{title},
        content = #{content},
        updateDate = now()
        where bno = #{bno}
    </update>

    <delete id = "delete" parameterType="long">
        delete from tbl_board where bno = #{bno}
    </delete>

</mapper>