// 색상 변수 정의
$primary-color: #3498db; // 블루 색상
$secondary-color: #2ecc71; // 그린 색상
$tertiary-color: #e74c3c; // 레드 색상
$default-background: lightgray;

// 예시 변수 (조건문 테스트를 위해 사용)
$use-light-theme: true; // 이 변수를 변경하여 조건을 테스트합니다.
