/* App.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  width: 600px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemGroup {
  width: 400px;
}
